<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>北京11选5</string>
				<key>code</key>
				<string>BJ11X5</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>北京快三</string>
				<key>code</key>
				<string>BJK3</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>北京快乐8</string>
				<key>code</key>
				<string>BJKL8</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>北京pk拾</string>
				<key>code</key>
				<string>BJPK10</string>
				<key>isHot</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>上海11选5</string>
				<key>code</key>
				<string>SH11X5</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>上海快三</string>
				<key>code</key>
				<string>SHK3</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>上海时时乐</string>
				<key>code</key>
				<string>SHSSL</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>上海天天彩选4</string>
				<key>code</key>
				<string>SHTTCX4</string>
				<key>isHot</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>福建</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>福建11选5</string>
				<key>code</key>
				<string>FJ11X5</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>福建快三</string>
				<key>code</key>
				<string>FJK3</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>福建体彩22选5</string>
				<key>code</key>
				<string>FJTC22X5</string>
				<key>isHot</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>福建体彩31选7</string>
				<key>code</key>
				<string>FJTC31X7</string>
				<key>isHot</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>福建体彩36选7</string>
				<key>code</key>
				<string>FJTC36X7</string>
				<key>isHot</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>广东</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>广东11选5</string>
				<key>code</key>
				<string>GD11X5</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>广东快乐十分</string>
				<key>code</key>
				<string>GDKLSF</string>
				<key>isHot</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>广东南粤风采26选5</string>
				<key>code</key>
				<string>GDFC26X5</string>
				<key>isHot</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>广东南粤风采36选7</string>
				<key>code</key>
				<string>GDFC36X7</string>
				<key>isHot</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>广东南粤风采好彩1</string>
				<key>code</key>
				<string>GDFCHC1</string>
				<key>isHot</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>广东深圳风采</string>
				<key>code</key>
				<string>GDSZFC</string>
				<key>isHot</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
